{% set assetsUrl = editorData.urls.assets %} {% set templateFontsUrl = editorData.urls.templateFonts %} {% spaceless %}<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1"><link href="{{ assetsUrl }}/editor/css/editor.css" rel="stylesheet"><style id="brz-ed-page-curtain-style">@keyframes spin{100%{transform:rotate(360deg)}}.brz-ed-page-curtain{position:fixed;left:0;right:0;top:0;bottom:0;background-color:#141923;z-index:1000}.brz-ed-page-spinner,.brz-ed-page-spinner:after,.brz-ed-page-spinner:before{content:'';position:absolute;top:50%;left:50%;border:3px solid transparent;border-radius:50%;animation:spin 1s linear infinite}.brz-ed-page-spinner{width:100px;height:100px;margin:-50px 0 0 -50px;border-top-color:#22b0da;animation-duration:2.5s}.brz-ed-page-spinner:after{width:80px;height:80px;margin:-40px 0 0 -40px;border-right-color:#ed2164;animation-duration:2s}.brz-ed-page-spinner:before{width:60px;height:60px;margin:-30px 0 0 -30px;border-bottom-color:#fff}</style>{% if false and (DEV is not defined or DEV == false) %}<!-- Global site tag (gtag.js) - Google Analytics --><script async src="https://www.googletagmanager.com/gtag/js?id=UA-115444307-1"></script><script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-115444307-1",{linker:{domains:["brizy.io","avangate.com","2checkout.com","brizy.net","brizydemo.com","bitblox7.xyz"]}}),gtag("config","AW-802288683")</script><!-- End Google Analytics --><!-- Facebook Pixel Code --><script>!function(e,t,n,c,o,a,f){e.fbq||(o=e.fbq=function(){o.callMethod?o.callMethod.apply(o,arguments):o.queue.push(arguments)},e._fbq||(e._fbq=o),(o.push=o).loaded=!0,o.version="2.0",o.queue=[],(a=t.createElement(n)).async=!0,a.src="https://connect.facebook.net/en_US/fbevents.js",(f=t.getElementsByTagName(n)[0]).parentNode.insertBefore(a,f))}(window,document,"script"),fbq("init","493684744367422"),fbq("track","PageView")</script><noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=493684744367422&ev=PageView&noscript=1"></noscript><script>fbq("track","ViewContent",{content_name:"Demo Brizy"})</script><!-- End Facebook Pixel Code --> {% endif %}</head><body class="brz brz-ed"><script>!function(){var t=document.createElement("style");t.innerHTML="@font-face{font-family:'Nucleo Outline';src:url('{{ templateFontsUrl }}/a');src:url('{{ templateFontsUrl }}/a') format('embedded-opentype'),url('{{ templateFontsUrl }}/b') format('woff2'),url('{{ templateFontsUrl }}/c') format('woff'),url('{{ templateFontsUrl }}/d') format('truetype');font-weight:400;font-style:normal}@font-face{font-family:'Nucleo Glyph';src:url('{{ templateFontsUrl }}/a1');src:url('{{ templateFontsUrl }}/a1') format('embedded-opentype'),url('{{ templateFontsUrl }}/b1') format('woff2'),url('{{ templateFontsUrl }}/c1') format('woff'),url('{{ templateFontsUrl }}/d1') format('truetype');font-weight:400;font-style:normal}",document.head.appendChild(t)}()</script><div class="brz-ed-page-curtain"><div class="brz-ed-page-spinner"></div></div><iframe id="brz-ed-iframe" class="brz-iframe brz-ed-iframe--desktop" style="border: 0" srcdoc='
        <html>
          <head>
            <link href="{{ assetsUrl }}/editor/css/editor.css" rel="stylesheet">
          </head>
          <body class="brz brz-ed brz-ed--desktop">
            <div id="brz-ed-root"></div>
            <div id="brz-popups"></div>

            <script src="{{ assetsUrl }}/editor/js/polyfill.js"></script>
            <script src="{{ assetsUrl }}/editor/js/editor.vendor.js"></script>
            <script>
              window.__VISUAL_CONFIG__ = {{ editorData | json_encode }};
            {% if DEV is defined and DEV %}
              window.__REACT_DEVTOOLS_GLOBAL_HOOK__ = window.parent.__REACT_DEVTOOLS_GLOBAL_HOOK__;
            {% endif %}
            </script>
            <script src="{{ assetsUrl }}/editor/js/editor.js"></script>

            {% if PRO is defined and PRO %}
            {% set assetsUrlPro = editorData.pro.urls.assets %}
              <script src="{{ assetsUrlPro }}/js/editor.pro.js"></script>
            {% endif %}
          </body>
        </html>
      '></iframe><script src="{{ assetsUrl }}/editor/js/polyfill.js"></script></body></html>{% endspaceless %}