<div class="modal" id="modal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="modalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- Content Modal -->
            <div class="brz-ed-popup-two-body">
                <!-- SideBar -->
                <div class="brz-ed-popup-two-body__sidebar">
                    <div class="brz-ed-scroll-pane">
                        <div class="brz-ed-scroll-inner">
                            <div class="brz-ed-popup-two-sidebar-body">
                                <ul class="brz-ul brz-ed-popup-two-sidebar">
                                    <div class="modal_dash active" id="sidebar_post_types">
                                        <div class="brz-ed-popup-two-sidebar-title">Types</div>
                                        {% for item in post_types['tabs'] %}
                                            {{ include('sidebar-item.html.twig') }}
                                        {% endfor %}
                                    </div>

                                    <div class="modal_dash" id="sitebar_settings">
                                        <div class="brz-ed-popup-two-sidebar-title">Settings</div>
                                        {% for item in site_settings['tabs'] %}
                                            {{ include('sidebar-item.html.twig') }}
                                        {% endfor %}
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Inner Content -->
                <div class="brz-ed-popup-two-body__content">
                    <div class="brz-ed-popup-two-header">
                        <div class="brz-ed-popup-two-header__tabs">
                            <div class="brz-ed-popup-two-tab-item" data-page-name="post-content" data-dash-name="sidebar_post_types">
                                <div class="brz-ed-popup-two-tab-icon">
                                    <svg class="brz-icon-svg">
                                        <use xlink:href="{{ fonts_url }}symbol-defs.svg#icon-Menus"></use>
                                    </svg>
                                </div>
                                <div class="brz-ed-popup-two-tab-name">Post Types</div>
                            </div>

                            <div class="brz-ed-popup-two-tab-item" data-page-name="settings-content" data-dash-name="sitebar_settings">
                                <div class="brz-ed-popup-two-tab-icon">
                                    <svg class="brz-icon-svg">
                                        <use xlink:href="{{ fonts_url }}symbol-defs.svg#icon-Edit-Page"></use>
                                    </svg>
                                </div>
                                <div class="brz-ed-popup-two-tab-name">Site Settings</div>
                            </div>
                        </div>
                        <div class="brz-ed-popup-two-btn-close" data-dismiss="modal"></div>
                    </div>

                    {% for data in posts %}
                        {{ include('post-type-items.html.twig') }}
                    {% endfor %}

                    {{ include( 'settings.html.twig' ) }}

                </div>
            </div>
        </div>
    </div>
</div>
