<div class="pages-list-wrap" id="{{ post_type }}">
    <div class="pages-list-head">
        <div class="pages-list-col">
            <div class="pages-list-text">Page Name</div>
        </div>
        <div class="pages-list-col">
            <div class="pages-list-text">Slug</div>
        </div>
        <div class="pages-list-col">
            <div class="pages-list-text">Actions</div>
        </div>
    </div>
    <div class="pages-list-items" id="{{ post_type }}ListItems">

        {% for post in items %}
            <div class="pages-list-item item-draft">
                <div class="pages-list-col">
                    <div class="pages-list-title">{{ post.post_title }}</div>
                </div>
                <div class="pages-list-col">
                    <div class="pages-list-slug">{{ post.post_name }}</div>
                </div>
                <div class="pages-list-col">
                    <div class="pages-list-actions">
                        <a href="#" class="pages-list-actions__icon" data-title="Edit Page">
                            <svg class="brz-icon-svg">
                                <use xlink:href="{{ fonts_url }}symbol-defs.svg#icon-Edit-Page">
                                </use>
                            </svg>
                        </a>
                        <a href="javascript:void(0);" class="pages-list-actions__icon" data-title="Settings" data-toggle="collapse" data-target="#post_{{ post.ID }}" aria-expanded="false" aria-controls="pagesListItem1">
                            <svg class="brz-icon-svg">
                                <use xlink:href="{{ fonts_url }}symbol-defs.svg#icon-Gear"></use>
                            </svg>
                        </a>
                        <a href="javascript:void(0);" class="pages-list-actions__icon" data-title="Delete">
                            <svg class="brz-icon-svg">
                                <use xlink:href="{{ fonts_url }}symbol-defs.svg#icon-Trash">
                                </use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Item content -->
            <div id="post_{{ post.ID }}" class="settings-details collapse" data-parent="#{{ post_type }}ListItems">
                <div class="card-body">
                    <form action="#" class="settings-form">
                        <div class="form-row">
                            <div class="form-col col-type1">
                                <div class="form-field">
                                    <label for="page-title">Page Title</label>
                                    <input type="text" name="page-title" value="{{ post.post_title }}">
                                </div>
                            </div>
                            <div class="form-col col-type1">
                                <div class="form-field">
                                    <label for="permalink">Permalink</label>
                                    <input type="text" name="permalink" value="{{ post.post_name }}">
                                </div>
                            </div>
                            <div class="form-col">
                                <div class="form-field">
                                    <label for="status">Status</label>
                                    <select name="status">
                                        <option value="" disabled>Select Option</option>

                                        {% for key, value in { 'publish':'Published', 'pending':'Pending Review', 'draft':'Draft' } %}
                                            <option value="{{ key }}"{{ post.post_status == key ? ' selected' : '' }}>{{ value }}</option>
                                        {% endfor %}

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-col col-type2">
                                <div class="form-field">
                                    <label for="description">
                                        Description (SEO meta)
                                    </label>
                                    <textarea name="description"></textarea>
                                </div>
                            </div>
                            <div class="form-col item-align-middle">
                                <div class="form-field">
                                    <a href="javascript:void(0);" class="btn-cancel" data-toggle="collapse" data-target="#post_{{ post.ID }}" aria-expanded="true" aria-controls="post_{{ post.ID }}">
                                        <span>Cancel</span>
                                    </a>
                                    <a href="javascript:void(0);" class="btn-save">
                                        <span>Save</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}

    </div>
</div>