{% set assetsUrl = editorData.urls.assets %}
{% set meta = page.meta %}
{% set blocks = page.blocks %}
{% spaceless %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ meta.title }}</title>
    <meta name="description" content="{{ meta.description }}">

    {{ blocks.head | raw }}

    {% for style in styles %}
      {{ style | raw }}
    {% endfor %}
  </head>
  <body class="brz">
    {% endspaceless %}{{ blocks.body | raw }}{% spaceless %}

    {% for script in scripts %}
      {{ script | raw }}
    {% endfor %}
  </body>
</html>
{% endspaceless %}
