{% set assetsUrl = editorData.urls.assets %}
{% set meta = page.meta %}
{% set blocks = page.blocks %}
{% spaceless %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ meta.title }}</title>
    <meta name="description" content="{{ meta.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ assetsUrl }}/editor/css/preview.css" rel="stylesheet">

    {% if PRO is defined and PRO %}
    {% set assetsUrlPro = editorData.pro.urls.assets %}
      <link href="{{ assetsUrlPro }}/css/preview.pro.css" rel="stylesheet">
    {% endif %}

    {{ blocks.head | raw }}
  </head>
  <body class="brz">{% endspaceless %}{{ blocks.body | raw }}{% spaceless %}

    <script src="{{ assetsUrl }}/editor/js/polyfill.js"></script>
    <script src="{{ assetsUrl }}/editor/js/preview.js"></script>

  {% if PRO is defined and PRO %}
  {% set assetsUrlPro = editorData.pro.urls.assets %}
    <script class="brz-script brz-script-preview-pro" src="{{ assetsUrlPro }}/js/preview.pro.js"></script>
  {% endif %}
  {% for script in scriptTags %}
    <script src="{{ script.src }}"></script>
  {% endfor %}
  </body>
</html>
{% endspaceless %}
