{% set assetsUrl = editorData.urls.assets %}
{% set meta = page.meta %}
{% set blocks = page.blocks %}
{% spaceless %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ meta.title }}</title>
    <meta name="description" content="{{ meta.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link class="brz-link brz-link-preview" href="{{ assetsUrl }}/editor/css/preview.css" rel="stylesheet">

    {{ blocks.head | raw }}
  </head>
  <body class="brz">{% endspaceless %}{{ blocks.body | raw }}{% spaceless %}

    <script class="brz-script brz-script-polyfill" src="{{ assetsUrl }}/editor/js/polyfill.js"></script>
    <script class="brz-script brz-script-preview" src="{{ assetsUrl }}/editor/js/preview.js"></script>

  {% for script in scriptTags %}
    <script class="brz-script" src="{{ script.src }}"></script>
  {% endfor %}
  </body>
</html>
{% endspaceless %}
