<div class="wrap">
    <h1>{{ __('Image Optimization','brizy') }}</h1>

    <h2 class="nav-tab-wrapper">
        {% for tab in tab_list %}
            <a href="{{ tab['href'] }}" class="nav-tab{{ tab['is_selected'] ? ' nav-tab-active' : '' }}">
                {{ tab['label'] }}
            </a>
        {% endfor %}
    </h2>

    <div class="tab-content">
        {% block tab_content %}
            {{ tab_content }}
        {% endblock %}
    </div>
</div>


