<ul class="formData">
    {% for field in data.formData %}
        <li>
            <label for="{{ field.name }}">{{ field.label }}</label>:
            {% if field.type == "FileUpload" %}
                <span id="{{ field.name }}"><a href="{{ field.value }}" target="_blank">{{ field.value }}</a></span>
            {% else %}
                <span id="{{ field.name }}" class="formData-{{ field.type|lower|escape('html_attr') }}">{{ field.value|striptags('<br>')|raw }}</span>
            {% endif %}
        </li>
    {% endfor %}
</ul>
<style>
    .formData {
        margin: 0;
    }

    .formData label {
        font-weight: bold;
    }

    .formData span {
        vertical-align: middle;
    }

    .formData .formData-paragraph {
        display: block;
        height: auto;
        max-height: 100px;
        overflow: auto;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 10px;
    }
</style>